@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* WEBSITE STYLE */
/* NAVBAR */
/* Variable */
:root {
  --color-blue-1: #2447f9;
  --color-blue-2: #1f3edb;
  --color-text: #34364a;
  --color-orange: #ff7c5a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 80%;
  margin: 120px auto;
  background-color: white;
}

nav {
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

/* Animasi sticky navbar */
nav.sticky {
  border-bottom: 1.5px solid var(--color-blue-1);
  background-color: white;
}

.nav-logo h3 {
  font-weight: 700;
  font-size: 22px;
  font-family: "poppins", sans-serif;
  color: var(--color-blue-1);
  letter-spacing: 3px;
}

.nav-logo h3 span {
  font-weight: 800;
  color: var(--color-orange);
}

nav ul {
  list-style: none;
  display: flex;
  width: 75%;
  align-items: center;
  justify-content: space-between;
}
nav ul li a {
  text-decoration: none;
  color: var(--color-text);
  transition: 0.3s;
}
nav ul li a:hover {
  color: var(--color-blue-1);
}

.btn-utility {
  display: flex;
  align-items: center;
}
.btn-utility a {
  text-decoration: none;
  display: inline-block;
  background: var(--color-blue-1);
  width: 110px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 25px;
  color: white;
  transition: all 0.3s;
  font-size: 14px;
  margin-left: 15px;
}
.btn-utility a:first-child {
  background: transparent;
  border: 1px solid var(--color-blue-1);
  color: var(--color-text);
  margin: 0;
}
.btn-utility a:hover {
  background-color: var(--color-blue-2);
  color: white;
}
.btn-utility a:first-child:hover {
  background: var(--color-blue-1);
}

/* Menu Hamburger */
.menu-toggle {
  display: none;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  position: relative;
}

.menu-toggle input {
  position: absolute;
  width: 40px;
  height: 28px;
  left: -6px;
  top: -3px;
  cursor: pointer;
  opacity: 0;
  z-index: 10;
}

.menu-toggle span {
  display: block;
  width: 28px;
  height: 3px;
  background-color: var(--color-text);
  border-radius: 2px;
  transition: 0.4s ease;
}

/* Animasi Menu Hamburger */
.menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
}
.menu-toggle span:nth-child(3) {
  transition: 0.4s ease 0.2s;
}
.menu-toggle span:nth-child(4) {
  transform-origin: 0 100%;
}
.menu-toggle input:checked ~ span:nth-child(2) {
  transform: rotate(-316deg) translate(-1px, -1px);
  background-color: black;
}
.menu-toggle input:checked ~ span:nth-child(4) {
  transform: rotate(316deg) translate(-1px, 0);
  background-color: black;
}
.menu-toggle input:checked ~ span:nth-child(3) {
  transform: translateX(80px);
  opacity: 0;
}
/* End Navbar */

/* Hero */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero-image {
  margin-right: -60px;
}
.hero-typography {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
h1.hero-heading {
  font-size: 3.5rem;
  color: var(--color-blue-2);
}
p.hero-paragraph {
  margin: 20px 0 40px;
  font-size: 1rem;
  line-height: 28px;
  color: var(--color-text);
  max-width: 90%;
}
.hero-btn a,
.class-btn,
.testi-btn {
  background-color: var(--color-blue-2);
  text-decoration: none;
  padding: 12px 20px;
  border: none;
  border-radius: 25px;
  color: #fff;
  font-weight: 500;
  transition: all 0.3s;
}
.hero-btn a:last-child {
  background-color: transparent;
  color: var(--color-blue-1);
  border: 1px solid var(--color-blue-2);
  margin-left: 10px;
}
.hero-btn a:first-child:hover,
.class-btn:hover,
.testi-btn:hover {
  background-color: var(--color-blue-1);
}
.hero-btn a:last-child:hover {
  box-shadow: 0 0 15px #2448f93a;
}
/* Akhir dari hero section */

/* Services Section */
.services,
.classes,
.testimonial,
.form {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.service-heading h3,
.class-heading h3,
.mentor-heading h3,
.testimonial-heading h3,
.form-heading h3 {
  color: var(--color-blue-2);
  font-size: 1.3rem;
  font-weight: 500;
}
.service-heading h1,
.class-heading h1,
.mentor-heading h1,
.testimonial-heading h1,
.form-heading h1 {
  font-size: 2rem;
  max-width: 60%;
  margin: 10px 0 20px;
  color: var(--color-text);
}

.form-input h3 {
  color: var(--color-blue-2);
}
.services-card-wrap,
.classes-card-wrapper {
  margin: 30px 0 0;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
}
.service-card-wrapper {
  width: 26%;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.164);
  transition: all 0.3s;
}
.service-card-wrapper:hover,
.class-card-wrap:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.253);
}
.service-card-wrapper img {
  width: 60px;
}
.service-card-wrapper h3 {
  margin: 30px 0 10px;
  font-size: 1.3rem;
  text-align: center;
}
.service-card-wrapper p {
  text-align: center;
  font-size: 0.9rem;
  color: var(--color-text);
}
/* Akhir dari services section */

/* Class Section */
.class-card-wrap {
  cursor: pointer;
  width: 29%;
  height: 520px !important;
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
  margin: 0 0 55px;
  position: relative;
  z-index: 1;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.164);
  overflow: hidden;
  transition: all 0.3s;
}

.class-card-wrap:nth-child(1) {
  height: 600px !important;
}

.class-card-wrap:nth-child(2) {
  height: 500px !important;
}

.class-card-wrap > img {
  width: 100%;
}

.class-description {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

.class-description h1 {
  font-size: 1.4rem;
  margin-top: 10px;
}
.discount-class > p {
  font-size: 0.8rem;
  color: var(--color-text);
  margin: 7px 0 25px;
}

/* Special for discount class */
.discount-class {
  display: flex;
}
.discount-class p:first-child {
  text-decoration: line-through;
  color: red;
  animation: blink 1.4s linear infinite forwards;
}
/* Discount Animation */
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.discount-class p:last-child {
  margin-left: 8px;
}
.class-rating {
  width: 100%;
  display: flex;
  align-items: center;
}
.class-rating img {
  width: 50%;
}
.class-rating span {
  color: var(--color-text);
  font-size: 0.8rem;
  margin-left: 7px;
}
.card-footer {
  position: absolute;
  height: 150px;
  overflow: hidden;
  width: 100%;
  bottom: 0;
  left: 0;
}
.card-footer > p {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 100%;
  text-align: center;
  color: white;
}
.card-footer svg {
  position: absolute;
  height: 100%;
  top: 0;
}

.class-btn,
.testi-btn {
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 200px;
}
/* Akhir dari class section */

/* Mentor Profile Section*/
.mentor {
  margin-top: 110px;
  /* text-align: center; */
}
.profile-wrapper {
  margin: 40px auto;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.profile-box {
  margin: 25px 5px;
  width: 28%;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 25px 30px rgba(0, 0, 0, 0.158);
}
.profile-box h2 {
  font-size: 1.5rem;
  color: var(--color-blue-2);
}
.profile-box p {
  font-size: 1.1rem;
  color: var(--color-text);
}
.profile {
  padding: 40px 50px;
  overflow: hidden;
  text-align: center;
}
.profile h2 {
  margin: 20px 0 7px;
}
.profile img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  transition: 0.3s;
  cursor: pointer;
}
.profile img:hover {
  transform: scale(1.2) rotate(-5deg);
}
.social {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
}
.social a {
  text-decoration: none;
}
.social i {
  color: var(--color-orange);
}
a .fab {
  font-size: 20px;
  transition: 0.3s;
}
a .fab:hover {
  transform: scale(1.4);
}
a .fa-instagram:hover {
  color: rgb(255, 0, 98);
}
a .fa-linkedin-in:hover {
  color: rgb(0, 140, 255);
}
a .fa-twitter:hover {
  color: rgb(8, 121, 214);
}
/* Akhir dari mentor profile section */

/* Testimonial Section */
.testimonial-wrapper,
.form-wrapper {
  width: 100%;
  height: 650px;
  margin: 40px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.testimonial-wrapper > img {
  width: 50%;
}
.testimonial-card-wrapper {
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.testi-card {
  width: 100%;
  margin: 20px 0;
  display: flex;
  align-items: center;
  border-radius: 25px;
  padding: 20px 0;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.123);
}
.testi-profile {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.testi-profile > img {
  width: 55%;
  border-radius: 50%;
}
.testi-profile h3 {
  margin: 10px 0 0;
  color: var(--color-blue-2);
}
.testi-profile span {
  color: var(--color-text);
  font-size: 0.9rem;
}
.testi-description {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-right: 30px;
}

.testi-description p {
  font-size: 0.9rem;
}

.testi-description > img {
  width: 55%;
}

.testi-btn {
  margin: 20px 0 30px;
}
/* Akhir dari testimonial section */

/* Form Section */
.form {
  margin-top: 120px;
  height: 400px;
}
.form-wrapper {
  margin-top: 50px;
}
.form-input {
  width: 40%;
  padding: 40px;
  border-radius: 25px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.123);
}
.form-input h3 {
  font-weight: 600;
  font-size: 1.6rem;
  margin-bottom: 30px;
}
.form-input .inputBox {
  position: relative;
  width: 100%;
  margin-top: 10px;
}
.form-input .inputBox input {
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  border: none;
  margin: 15px 0;
  border-bottom: 2px solid var(--color-text);
  outline: none;
}
.form-input .inputBox span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
}
.form-input .inputBox input:focus ~ span,
.form-input .inputBox input:valid ~ span {
  color: var(--color-blue-2);
  font-size: 12px;
  transform: translateY(-20px);
}
.form-input .inputBox input[type="submit"] {
  width: 150px;
  background-color: var(--color-blue-2);
  border: none;
  cursor: pointer;
  color: #fff;
  padding: 10px 0;
  border-radius: 25px;
}
.form-img {
  width: 60%;
  border-radius: 50%;
}
.form-img img {
  width: 100%;
}
/* Akhir dari form section */

/* Footer */
footer {
  display: flex;
  flex-flow: row wrap;
  padding: 50px;
  color: var(--color-text);
  margin-top: 180px;
}

.footer > * {
  flex: 1 100%;
}

.footer-left {
  margin-right: 1.25em;
  margin-bottom: 2em;
}

.footer-left h3 {
  color: var(--color-blue-2);
  font-weight: 600;
  font-size: 1.1rem;
}

.footer-left h3 span {
  color: var(--color-orange);
}

.footer-left p {
  padding-right: 20%;
  margin: 10px 0;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer li {
  line-height: 2em;
}

.footer a {
  text-decoration: none;
}

.footer-right {
  display: flex;
  flex-flow: row wrap;
}

.footer-right > * {
  flex: 1;
  margin-right: 1.25em;
}

.box a {
  color: var(--color-text);
}

.box.hover a:hover {
  color: var(--color-blue-2);
}

.footer-bottom {
  text-align: center;
  padding-top: 50px;
}

.socials a {
  width: 40px;
  height: 40px;
  display: inline-block;
  margin-right: 10px;
}

.socials a i {
  color: var(--color-text);
  padding: 10px 12px;
  font-size: 20px;
}
/* Akhir dari footer section */

/* Responsive Breakpoint */
/* Ukuran Tablet */
@media screen and (max-width: 768px) {
  /* Navbar */
  nav {
    width: 90%;
  }
  nav ul li a {
    font-size: 14px;
  }
  .btn-utility a {
    width: 90px;
    height: 35px;
    line-height: 35px;
    font-size: 13px;
    margin-left: 10px;
  }

  /* Hero Section */
  .hero {
    flex-direction: column;
  }
  .hero-image {
    margin: 10px 0;
  }
  .hero-typography {
    width: 80%;
    justify-content: center;
    align-items: flex-start;
  }
  h1.hero-heading {
    font-size: 2.5em;
  }
  p.hero-paragraph {
    max-width: 90%;
  }
  .hero-btn {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
  }
  .hero-btn a {
    width: 100%;
    margin: 0 0 15px !important;
    text-align: center;
  }

  /* Services Section */
  .service-heading h1 {
    max-width: 100%;
  }
  .service-card-wrapper {
    width: 45%;
  }

  /* Class Section */
  .class-heading h1,
  .mentor-heading h1 {
    max-width: 80%;
  }
  .class-card-wrap {
    width: 100%;
    flex-direction: row;
    height: 400px !important;
    padding: 30px 0 0;
    justify-content: center;
  }
  .class-card-wrap > img {
    width: 50%;
    height: 58%;
  }
  .class-description {
    margin: 0;
    justify-content: center;
    margin-left: 20px;
    height: 50%;
    width: 40%;
  }
  .class-description h1 {
    margin-top: 0;
  }
  .class-rating > img {
    width: 120px;
  }
  .card-footer {
    height: 170px;
  }

  /* Mentor Profile Section */
  .mentor-heading h1 {
    font-size: 1.7rem;
  }
  .profile-box {
    width: 45%;
  }
  .social {
    justify-content: center;
  }
  .social a {
    margin: 0 15px;
  }
  .profile img:hover {
    transform: scale(1.2) rotate(-5deg);
  }

  /* Testimonial Section */
  .testimonial-heading h1 {
    max-width: 80%;
  }
  .testimonial-wrapper {
    margin: 10px 0;
    flex-direction: column-reverse;
    justify-content: center;
    height: auto;
  }
  .testimonial-wrapper > img {
    width: 100%;
  }
  .testimonial-card-wrapper {
    width: 100%;
  }
  .testi-description {
    height: 200px;
    padding-right: 25px;
  }
  .testi-description p {
    font-size: 1rem;
  }

  /* Form section */
  .form {
    margin-top: 400px !important;
  }
  .form-wrapper {
    flex-direction: column-reverse;
    margin: 190px 0;
  }
  .form-img {
    width: 100%;
  }
  .form-input {
    width: 100%;
    margin: 20px 0;
  }

  footer {
    margin-top: 250px !important;
  }
}
/* Akhir dari ukuran tablet */

/* Ukuran Mobile */
@media screen and (max-width: 576px) {
  /* Navbar */
  nav {
    width: 100%;
    padding: 0 30px;
  }
  nav ul {
    border-radius: 35px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    background: var(--color-text);
    align-items: center;
    justify-content: flex-start;
    z-index: -1;
    transform: translateY(100%);
    transition: all 0.3s 0.2s;
  }
  /* Class untuk memunculkan navbar */
  nav ul.slide {
    transform: translateY(28%);
  }
  /* Akhir dari class */
  nav ul li {
    width: 70%;
    text-align: center;
    margin: 40px 0 0;
    transition: 0.4s;
  }
  nav ul li a {
    font-size: 1.1em;
    color: #8d8d8d;
  }
  nav ul li a:hover {
    color: white;
  }
  .btn-utility {
    display: absolute;
    right: 0;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
  }
  .btn-utility a {
    margin: 20px 0 0;
    font-size: 1em;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: white !important;
  }
  .menu-toggle {
    display: flex;
  }

  /* Hero Section */
  .hero-typography,
  .hero-image img,
  .service-card-wrapper {
    width: 100%;
  }
  p.hero-paragraph {
    max-width: 100%;
  }

  /* Services Section */
  .service-heading h3,
  .class-heading h3,
  .mentor-heading h3,
  .testimonial-heading h3,
  .form-heading h3 {
    font-size: 1rem;
  }
  .service-heading h1,
  .class-heading h1,
  .mentor-heading h1,
  .testimonial-heading h1,
  .form-heading h1 {
    font-size: 1.4rem;
    max-width: 100%;
  }

  /* Class Section */
  .class-card-wrap {
    width: 100%;
    height: 530px !important;
    flex-direction: column;
    padding: 20px 30px;
    margin: 0 0 55px;
  }

  .class-card-wrap:nth-child(1) {
    height: 580px !important;
  }

  .class-card-wrap:nth-child(2) {
    height: 500px !important;
  }

  .class-card-wrap > img {
    width: 100%;
    height: auto;
  }

  .class-description {
    margin: 20px 0;
    width: 100%;
    justify-content: flex-start;
  }

  .class-description h1 {
    font-size: 1.1rem;
  }

  .card-footer {
    height: 150px;
  }

  /* Mentor Profile Section  */
  .profile-box {
    width: 100%;
  }

  /* Testimonial Section */
  .testi-description {
    height: 170px;
  }
  .testi-description p {
    font-size: 0.8rem;
  }

  /* Form section */
  .form-wrapper {
    margin-top: 80px !important;
  }

  /* Footer */
  footer {
    margin-top: 180px !important;
    text-align: center;
  }

  .footer-left {
    margin-right: 0;
    margin-bottom: 3rem;
  }

  .footer-left h3 {
    font-size: 1.5rem;
  }

  .footer-left p {
    margin-top: 0.5rem;
    padding-right: 0;
  }

  .footer-right {
    flex-direction: column;
    padding: 10px;
  }

  .footer-right li {
    margin: 1rem 2rem;
  }

  .socials a {
    margin-top: 1rem;
    margin-right: 10px;
  }
}
